<footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
    <div class="w3-third">
      <p>Copyright - Tous droits réservés<br/><a href="#">Contact</a></p>
    </div>
  </div>
</footer>