<div class="container">
	<div class="row">
		<div class="col-md-2">Lien 1</div>
		<div class="col-md-2">Lien 2</div>
		<div class="col-md-2">Lien 3</div>
		<div class="col-md-2">Lien 4</div>
		<div class="col-md-2">Lien 5</div>
		<div class="col-md-2">
		{% block isAuthenfied %}{{ include("BWUtilisateurBundle:Nav:isAuthentified.html.twig") }}{% endblock %}
		</div>
	</div>
</div>