<div class="w3-section w3-bottombar w3-padding-10">
	<div class="container">
		<div class="row">
			<div class="col-md-2"><a class="w3-button w3-white width-100" href="{{ path('bw_recette_homepage') }}">Recettes</a></div>
			<div class="col-md-2"><a class="w3-button w3-white width-100">Lien 2</a></div>
			<div class="col-md-2"><a class="w3-button w3-white width-100">Lien 3</a></div>
			<div class="col-md-2"><a class="w3-button w3-white width-100">Lien 4</a></div>
			<div class="col-md-2"><a class="w3-button w3-white width-100">Lien 5</a></div>
			<div class="col-md-2">
			{% block isAuthenfied %}{{ include("BWUtilisateurBundle:Nav:isAuthentified.html.twig") }}{% endblock %}
			</div>
		</div>
	</div>
</div>
